*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Barlow', sans-serif;
    font-weight: 300;
    color: white;
}
a{
    text-decoration: none;
}
header{
    background: url('./images/desktop/image-header.jpg') center center no-repeat;
    height: 100vh;
    background-size: cover;
}
nav{
    display: flex;
    justify-content: space-between;
}
nav ul a{
    padding: 20px;
}
nav h1{
    padding-top: 20px;
    padding-left: 20px;
}
ul{
    display: flex;
}
li{
    margin-right: 5px;
    list-style: none;
    padding: 10px;
}
.contact-nav{
    background-color: white;
    color: black;
    font-family: 'Fraunces', serif;
    font-weight: 700;
    padding: 10px;
    border-radius: 40px;
    font-size: 14px;
}

.header-content{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    height: 300px;
    align-items: center;
    margin-top: 100px;
}
.header-content h1{
    font-family: 'Fraunces', serif;
    font-size: 50px;
    letter-spacing: 10%;
    font-weight: 700;
}
.menu{
    display: none;
}

@media (max-width: 700px) {
    nav ul{
        background-color: white;
        flex-direction: column;
        position: absolute;
        height: 300px;
        justify-content: start;
        text-align: center;
        right: 5%;
        top: 80px;
        left: 5%;
        display: none;
    }
    nav ul::before{
        content: '';
        width: 0; 
        height: 0; 
        border-top: 20px solid transparent;
        border-bottom: 20px solid transparent; 
        border-right:20px solid white; 
        position: absolute;
        right: 0;
        top: -20px;
    }
    ul li{
        color: #333;
        font-size: 1.5rem;
        padding: 0;
    }

    .contact-nav{
        background: rgb(243, 183, 17);
        display: inline;
        font-size: 1.5rem;
    }
    .header-content{
        text-align: center;
    }
    .menu{
        display: inline;
        position: absolute;
        top: 10px;
        right: 10px;
        width: 5%;
        fill: whitesmoke;
        padding-top: 15px;
    }
}
@media (max-width: 350px) {
    .header-content{
        text-align: center;
        margin-top: 100px;
    }
    .header-content h1{
        font-size: 40px;
    }
    .header-content h1{
        color: white;
    }
}


/* SECTION CSS */

section *{
    color: black
}

.content{
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-auto-rows: 1fr;
    width: 100%;
    gap: 0;
}

section img{
    width: 100%;
    height: 100%;
}
.content-text{
    display: flex;
    justify-content: center;
    align-items: center;
}
.content-text div{
    margin: auto;
    width: 60%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
    gap: 2.5rem;
}

.content-text h1{
    color: #333;
    font-family: 'Fraunces', serif;
    font-weight: 800;
    font-size: 3rem;
}

.content-text p{
    font-family: 'Barlow', 'serif';
    color: #444;
    font-size: 18px;
}

.text-img-1{
    background: url('./images/desktop/image-graphic-design.jpg')  center center no-repeat;
    background-size: cover;
}
.text-img-2{
    background: url('./images/desktop/image-photography.jpg') center center no-repeat;
    background-size: cover;
}

.text-img-1,.text-img-2{
    display: flex;
    justify-content: center;
    align-items: flex-end;
}

.text-img{
    text-align: center;
    width: 50%;
    height: 60%;
    display: flex;
    flex-direction: column;
    justify-content:center;
}
.text-img h1{
    font-family: 'Fraunces', serif;
    font-weight: 800;
    font-size: 1.5rem;
    margin-bottom: 25px;
    
}
.text-img p{
    font-family: 'Barlow', 'serif';
    font-size: 16px;
}
.text-img-1 h1,.text-img-1 p{
    color: rgb(61, 116, 105);
}
.text-img-2 h1,.text-img-2 p{
    color: rgb(18, 59, 85);
}

@media (max-width: 700px) {
    .content{
        grid-template-columns: 1fr;
    }
    .inverse-text{
        grid-row-start: 2 ;
    }
    .inverse-img{
        grid-row-start: 1;
    }
}
@media (max-width: 350px) {

    .content-text div{
        width: 100%;
        margin: 0;
        text-align: center;
        gap: 1rem;
    }
    .content-text h1{
        font-size: 25px;
    }
    .text-img{
        width: 100%;
    }
    .text-img h1{
        font-size: 20px;
    }
    .text-img p{
        font-size: 10px;
    }
}
